<section class="m-auto text-slate-100">
    <h1 class="text-3xl">Trabajo Final - Sprint 5</h1>
    <h1 class="text-3xl">En este trabajo se implementa todo el conocimiento adquirido en el módulo 3.</h1>
    <h1 class="text-3xl">Conocimientos:</h1>
    <h1 class="text-3xl">logo ejs</h1>
    <h1 class="text-3xl">logo mvc</h1>
    <h1 class="text-3xl">logo node.js</h1>
    <h1 class="text-3xl">logo mongodb</h1>
    <h1 class="text-3xl">logo tailwindcss</h1>
    <h1 class="text-3xl">logo git</h1>
    <h1 class="text-3xl">logo mjs</h1>
</section>
<section class="m-auto text-slate-100">
    sobre nosotros
</section>