<footer class="w-full h-fit text-slate-100 bg-stone-950 p-3 sticky bottom-0 text-center shadow-inner shadow-teal-900">
    <p class="tracking-widest">&copy; 2025 - Trabajo Final - Sprint 5 - by El Estropajo</p>
</footer>